node_modules
contracts/target
contracts/torii.db
contracts/KATANA.toml
contracts/manifests
contracts/deploy
contracts/.DS_Store
.DS_Store
veo-client/tsconfig.tsbuildinfo
.env
.env.*
.env.local
.env.*.local
*.env.bak
!.env.example
argent_account_*.json
references

